In [2]:
import numpy as np 
import pandas as pd

In [3]:
table = pd.read_csv('table_of_MEANS_googleData.csv')

In [4]:
table.head()

,full_name,rating,total_ratings,landmark_category,description,address,phone,website,hours,latitude,longitude,count,mean,std,min,25%,50%,75%,max
0,Tallers Garcés,"4,1",(10),Taller de automóviles,NaN,"Carrer de Rocafort, 78, 08015 Barcelona",934 23 10 93,NaN,[],41.379371,2.153754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Taller Antón Solé,NaN,NaN,NaN,NaN,"Plaça de las Navas, 10, 08004 Barcelona",934 23 45 63,NaN,[],41.374035,2.158775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Auto Carburacion e Inyeccion,"5,0",(2),Taller de reparación de vehículos todoterreno,NaN,"C/ d'Entença, 20, 08015 Barcelona",933 25 46 94,NaN,[],41.376014,2.155615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MF Flomart,"4,9",(35),Tienda de repuestos para automóviles,NaN,"Passeig de Montjuïc, 30, 08004 Barcelona",934 41 13 48,NaN,"['Nivel de ocupación: \xa0% (hora: ).', 'Nivel...",41.372421,2.171510,5.0,18.944444,8.100613,10.555556,14.166667,17.5,21.944444,30.555556
4,Talleres Espuña,"4,6",(10),Taller de reparación de automóviles,NaN,"Passeig de Montjuïc, 68, 08004 Barcelona",934 41 48 10,NaN,[],41.371756,2.167712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
table_original = pd.read_csv('../df_sup.csv')

In [12]:
table_original.head()

,id,title,number,street,id_sec,id_subsec,cod_sec,cod_sub,sector,x,y,lon,lat,geometry,polygon_id,polygon,franchise,in_hex,in_poly
0,83969.0,Garces Taller,78,CL ROCAFORT,9.0,12.0,tran,tall,taller mecánico,429313.0,4581410.0,2.153513,41.379259,POINT (2.153512887 41.37925891),115.0,out,0.0,1097.0,0
1,117499.0,Anton Solé,10,PZ NAVAS,9.0,12.0,tran,tall,taller mecánico,429739.0,4580810.0,2.158677,41.373892,POINT (2.158676542 41.37389224),115.0,out,0.0,1158.0,0
2,117503.0,Auto.Carburación,1,CL TEODOR BONAPLATA,9.0,12.0,tran,tall,taller mecánico,429786.0,4580886.0,2.159230,41.374581,POINT (2.159229711 41.37458085),115.0,out,0.0,1158.0,0
3,117511.0,"M.F, Flomart",30,PS MONTJUIC,9.0,12.0,tran,tall,taller mecánico,430800.0,4580634.0,2.171383,41.372399,POINT (2.171382973 41.37239903),115.0,out,0.0,1185.0,0
4,117515.0,F.Espunes,68,PS MONTJUIC,9.0,12.0,tran,tall,taller mecánico,430491.0,4580569.0,2.167696,41.371787,POINT (2.167695814 41.37178696),115.0,out,0.0,1183.0,0

In [43]:
df_locate = table_original[['title','street','number']]

In [35]:
two_chara = df_locate.street.apply(lambda x: x[:2])

In [36]:
uniqs_two = two_chara.unique()
va_lst= []
for i in uniqs_two:
    if i.isupper() == True:
        if len(i) > 1:
            va_lst.append(i)
        
print(va_lst)

['CL', 'PZ', 'PS', 'AV', 'RB', 'GV', 'PJ', 'ML', 'CR', 'RR', 'TO', 'RD', 'BJ', 'PL', 'PG', 'VI', 'CJ', 'TR', 'CM', 'PD', 'PA', 'II', "L'", ' L', 'C/', ' R', ' A']

In [48]:
df_locate['street'] = df_locate['street'].str.replace('CL ','Carrer ')
df_locate['street'] = df_locate['street'].str.replace('PZ ','Plaça ')
df_locate['street'] = df_locate['street'].str.replace('PS ','Passeig ')
df_locate['street'] = df_locate['street'].str.replace('AV ','Avinguda ')
df_locate['street'] = df_locate['street'].str.replace('RB ','Rambla ')
df_locate['street'] = df_locate['street'].str.replace('GV ','Gran via ')

df_locate['serch_o'] = df_locate['street']+', '+df_locate['number']

C:\Users\alter\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\alter\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\alter\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\alter\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\alter\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\alter\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\alter\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [50]:
df_locate['serch_o'] = df_locate.serch_o.apply(lambda x: x.capitalize())

C:\Users\alter\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [51]:
df_locate

,title,street,number,serch_o
0,Garces Taller,Carrer ROCAFORT,78,"Carrer rocafort, 78"
1,Anton Solé,Plaça NAVAS,10,"Plaça navas, 10"
2,Auto.Carburación,Carrer TEODOR BONAPLATA,1,"Carrer teodor bonaplata, 1"
3,"M.F, Flomart",Passeig MONTJUIC,30,"Passeig montjuic, 30"
4,F.Espunes,Passeig MONTJUIC,68,"Passeig montjuic, 68"
...,...,...,...,...
80057,Taxi a punto,Carrer ALMOGAVERS,54,"Carrer almogavers, 54"
80058,Taxi Auto 1,Carrer CORSEGA,594,"Carrer corsega, 594"
80059,EQ Esteve,Carrer CARACAS,17-19,"Carrer caracas, 17-19"
80060,Apsys,Carrer VENTURA PLAJA,4-8,"Carrer ventura plaja, 4-8"
80061,Cesva Instruments SL,Carrer MARACAIBO,6,"Carrer maracaibo, 6"